<div 
    class="synopsis-container"
    *ngFor="let movie of movies"
>   
    <div>
        <nav>
            <img class="thumbnail" src="{{ movie.Poster }}"/>
        </nav>
    </div>

    <div>
        <h1>{{ movie.Title }}</h1>
        <h6>Released: {{ movie.Released }}</h6>
        <h6>Genre: {{ movie.Genre }}</h6>
        <h6>Director/s: {{ movie.Director }}</h6>
        <h6>Writer/s: {{ movie.Writer }}</h6>
        <h6>Actors: {{ movie.Actors }}</h6>
        <p class="plot">{{ movie.Plot }}</p>
    </div>

    <div>
        <h4 class="imdb-style">IMDB: {{ movie.imdbRating }}</h4>
    </div>
</div>