.movie-container {
  max-width: 1370px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.overflow-text {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  font-size: 1.3rem;
  margin: 0;
  background: white;
}

.column {
  float: left;
  width: auto;
  padding: 8px;
}

.row {
  content: "";
  clear: both;
  display: table;
}

.img-thumbnail {
  border-radius: 8px;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 5px 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}