.movie-container {
  max-width: 1370px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.img-thumbnail {
  border-radius: 8px;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 5px 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}