.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-family: "Poppins", sans-serif;;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }


  .button:hover {
    background-color: white;
    color: black;
  }

  